@model PruebaMainSoft_2.Models.AutoresHasLibro

@{
    ViewData["Title"] = "Create";
}

<h4>Autores y Libros</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AutoresId" class="control-label"></label>
                <select asp-for="AutoresId" class ="form-control" asp-items="ViewBag.AutoresId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LibrosIs8n" class="control-label"></label>
                <select asp-for="LibrosIs8n" class ="form-control" asp-items="ViewBag.LibrosIs8n"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
