@model PruebaMainSoft_2.Models.AutoresHasLibro

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autores.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.LibrosIs8nNavigation)*@
            Libros
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibrosIs8nNavigation.Titulo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AutoresId">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
